@model ControleFinanceiro.Models.ListaMercado

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ListaMercado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MercadoValor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MercadoValor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MercadoData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MercadoData)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto.ProdutoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormaPagamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormaPagamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormaPagamentoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormaPagamentoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MercadoId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
