@model ControleFinanceiro.Models.ListaMercado

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ListaMercado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MercadoValor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MercadoValor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MercadoData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MercadoData)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto.ProdutoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormaPagamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormaPagamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormaPagamentoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormaPagamentoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MercadoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
