@model IEnumerable<ControleFinanceiro.Models.ListaMercado>

@{
	ViewData["Title"] = "Listas de Mercado";
	Layout = "~/Views/Shared/_LayoutGeral.cshtml";
}

<link rel="stylesheet" href="~/assets/css/estilo-btn-table.css" />
<link href="~/css/estilodesejo.css" rel="stylesheet" />

@section Styles {
	<environment include="Development">
		<link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"
			  asp-fallback-href="~/lib/datatables/css/jquery.dataTables.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
	</environment>
}
@if (@TempData["Message"] != null)
{
	<div class="alert alert-success" role="alert">
		@TempData["Message"]
	</div>
}
@if (@TempData["Message"] == null)
{

}
<body>
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<hr />
						<div class="header">
							<h4 class="title">@ViewData["Title"]</h4>
						</div>
						<hr />
						<div class="panel-heading title">
							<h3 class="panel-title">Total despesas = @Model.Sum(obj => obj.MercadoValor).ToString("F2")</h3>
						</div>
						<div class="content">
							<div class="row">
								<div class="col-md-1">
									<a asp-action="Index" class="btn btn-primary btn btn-info btn-fill pull-right navbar-btn">
										<span class="glyphicon glyphicon-home"></span>
									</a>
								</div>
								<div class="col-md-0">
									<a asp-action="Create" class="btn btn-primary pull-left btn btn-info btn-fill navbar-btn">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									</a>
								</div>
								<div class="row">
									<div class="col-md-8">
										<form asp-controller="ListaMercados" asp-action="Index" method="get">
											<div class="col-md-5">
												<span></span>
												<div class="input-field ">
													<input type="text" class="controle-form" name="Buscar" required="">
													<label>Digite o Nome da Lista</label>
													<span></span>
												</div>
											</div>
											<div class="col-md-5">
												<button type="submit" value="Filtrar" class="btn btn-info btn-fill pull-right">
													<span class="glyphicon glyphicon-search"></span>
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="content">
							@{ await Html.RenderPartialAsync("~/Views/ListaMercados/_PartialIndexListaMercados.cshtml", Model); }
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

@section ScriptPage {
	<environment include="Development">
		<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="http://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
				asp-fallback-src="~/lib/datatables/js/jquery.dataTables.min.js">
		</script>
	</environment>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#tabela_listamercados').DataTable({
				"order": [[1, "asc"]]
			});
		});
	</script>
}