﻿@model ControleFinanceiro.Models.ViewModel.DesejoViewModel


@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewData["Title"] Controle Pessoal</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<link href="~/css/estilodejeso2.css" rel="stylesheet" />

</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-4.jpg">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text" asp-controller="Controles" asp-action="Index">
                        Painel de Controle
                    </a>
                </div>
                <ul class="nav">
                    <li class="active">
                        <a asp-controller="Controles" asp-action="Index">
                            <i class="pe-7s-graph"></i>
                            <p>Painel de Controle</p>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="ListaMercados" asp-action="Index">
                            <!--redireciona para supermercado, trocar action index para Supermercado-->
                            <i class="pe-7s-cart"></i>
                            <p>Supermercado</p>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="DespesaFixas" asp-action="Index">
                            <!--redireciona para despesas fixas, trocar action index para DespesasFixas-->
                            <i class="fa fa-usd"></i>
                            <p>Despesas Fixas</p>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="DespesaDiretas" asp-action="Index">
                            <!--redireciona para despesas diretas, trocar action index para DespesasDiretas-->
                            <i class="pe-7s-calculator"></i>
                            <p>Despesas Diretas</p>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="ListaDesejos" asp-action="Index">
                            <!--redireciona para lista de desejos, trocar action index para ListaDesejos-->
                            <i class="pe-7s-note2"></i>
                            <p>Lista de Desejos</p>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="ListaProdutos" asp-action="Index">
                            <!--redireciona para Produtos, trocar action index para Produtos-->
                            <i class="pe-7s-box1"></i>
                            <p>Produtos</p>
                        </a>
                    </li>
                    <!-- <li>
                        <a asp-controller="Controle" asp-action="Index">
                        redireciona para serviços, trocar action index para Serviços
                        <i class="pe-7s-tools"></i>
                        <p>Serviços</p>
                        </a>
                    </li>-->
                    <li>
                        <a asp-controller="Controles" asp-action="Index">
                            <!--redireciona para Configuirações, trocar action index para Configurações-->
                            <!--  icone 1<i class="pe-7s-config"></i>  -->
                            <!--icone 2--><i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                            <p>Configurações</p>
                        </a>
                    </li>
                    <li class="divider">
                        <!--<li class="active-pro">
                            <a asp-controller="Controle" asp-action="Index">
                                redireciona para Usuario Pro, trocar action index para UsuarioPro
                        <i class="pe-7s-rocket"></i>
                        <p>Eleve para PRO</p>
                        </a>
                        -->
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" asp-controller="Controle" asp-action="Index">Painel de Controle</a>
                        <!-- redireciona a algum link, estava dashbord -->
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                    <i class="fa fa-dashboard"></i>
                                    <p class="hidden-lg hidden-md">Controle</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Ação</a></li>
                                    <!--pode ser uma drop down para mês ou algo do genero-->
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-lg hidden-md"></b>
                                    <p class="hidden-lg hidden-md">
                                        5 Notificações
                                        <b class="caret"></b>
                                    </p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Notificação 1</a></li>
                                    <li><a href="#">Notificação 2</a></li>
                                    <li><a href="#">Notificação 3</a></li>
                                    <li><a href="#">Notificação 4</a></li>
                                    <li><a href="#">Mais uma notificação</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    <!-- buscador precisa de uma action -->
                                    <i class="fa fa-search"></i>
                                    <p class="hidden-lg hidden-md">Search</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="">
                                    <p>Conta</p>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
                                        Categorias
                                        <b class="caret"></b>
                                    </p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Ação link</a></li>
                                    <li><a href="#">Ação link</a></li>
                                    <li><a href="#">Ação link</a></li>
                                    <li><a href="#">Ação link</a></li>
                                    <li><a href="#">Ação link</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Ação link</a></li>
                                    <!--precisa de asp para categorias,ou data, ou algo que va na drop down-->
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <!--asp para metodo encerrar sessão, logout ou algo do tipo-->
                                    <p>Sair</p>
                                </a>
                            </li>
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="card">
                                <hr />
                                <div class="container">
                                    <div class="row">
                                        <div class="header">
                                            <h4 class="title">Escolha o produto da lista de Desejo!</h4>
                                            <!--<p class="category">Subtitulo..</p>-->
                                            <br />
                                        </div>
                                        <form>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="input-field">
                                                        <input type="text" class="form-control" name="" required="">
                                                        <label>Digite o Nome do Produto</label>
                                                        <span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <form asp-action="Create">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="input-field">
                                                        <input asp-for="ListaDesejos.DesejoValor" class="form-control" name="" required="" />
                                                        <label>Valor Do produto</label>
                                                        <span asp-validation-for="ListaDesejos.DesejoValor" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <label asp-for="ListaDesejos.DesejoData"></label>
                                                        <input asp-for="ListaDesejos.DesejoData" class="form-control" name="" required="" />
                                                        <span asp-validation-for="ListaDesejos.DesejoData" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <label asp-for="ListaDesejos.ListaProduto" class="control-label"></label>
                                                        <select asp-for="ListaDesejos.ProdId" class="form-control" asp-items="@(new SelectList(Model.ListaProdutos, "ProdutoId", "ProdutoNome" ProdutoId", "ProdutoNome" ) )"> </select>
                                                        <span asp-validation-for="ListaDesejos.ProdId" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <label asp-for="ListaDesejos.Categoria" class="control-label"></label>
                                                        <select asp-for="ListaDesejos.CategoId" class="form-control" asp-items="@(new SelectList(Model.Categorias, "CategoriaId", "CategoriaNome" CategoriaId", "CategoriaNome" ) )"> </select>
                                                        <span asp-validation-for="ListaDesejos.CategoId" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <label asp-for="ListaDesejos.FormaPagamento" class="control-label"></label>
                                                        <select asp-for="ListaDesejos.FormaPagamento" class="form-control" asp-items="@(new SelectList(Model.FormaPagamentos, "FormaId", "FormaNome" FormaId", "FormaNome" ) )"></select>
                                                        <span asp-validation-for="ListaDesejos.FormaPagamento" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <label asp-for="ListaDesejos.StatusCompra" class="control-label"></label>
                                                        <select asp-for="ListaDesejos.StatId" class="form-control" asp-items="@(new SelectList(Model.StatusCompras, "StatusId", "StatusNome" StatusId", "StatusNome" ) )"></select>
                                                        <span asp-validation-for="ListaDesejos.StatId" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <input type="submit" value="Inserir" name="" class="btn">
                                                </div>
                                                <div class="col-md-1">
                                                    <a asp-action="Index" class="btn btn-info btn-fill pull-left">Voltar à Lista</a>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <hr />
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer" style="background-color: #222;">
                <div class="container-fluid">
                    <nav class="pull-right">
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> <a href="http://www.google.com.br">ControleFinanceiro</a>
                    </p>
                </div>
            </footer>

        </div>
    </div>
</body>


@section Scripts{
    	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


