@model ControleFinanceiro.Models.DespesaDireta

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutGeral.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DespesaDireta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DespesaDirNome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DespesaDirNome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DespesaDirDescricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DespesaDirDescricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DespDirValor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DespDirValor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DespDirData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DespDirData)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusCompra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusCompra.StatusId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormaPagamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormaPagamento.FormaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria.CategoriaId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DespDirId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
