@model IEnumerable<ControleFinanceiro.Models.DespesaFixa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutGeral.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DespFixaNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DespFixaDescricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DespFixaValor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DespFixaData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormaPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DespFixaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DespFixaDescricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DespFixaValor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DespFixaData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusCompra.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaPagamento.FormaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.CategoriaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DespFixaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DespFixaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DespFixaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
